.brand
	background:  #D34836 url("http://know-owl.com/img/srluis/isologo_small.jpg") no-repeat
	width: 135px
	height: 37px
	padding: 0 !important
	margin: 10px 0 0 10px
.navbar-inner
	background:  #D34836 !important