rojo1 = #9A1A27
rojo2 = #741620
rojo3 = #4D0910

.brand
	background transparent url("http://know-owl.com/img/srluis/isologo_small3.png") no-repeat
	width 124px
	height 54px
	padding 0 !important
	margin 5px 0 0px 10px
	float left 
	position relative	
	z-index: 2
.container
  width 100% !important
.navbar-inner
	background rojo1 url("http://know-owl.com/img/srluis/navbar-bg2.jpg") !important
	border 0 !important
	height 35px !important
	box-shadow 0px 1px 0px rojo3 !important
.navbar
	height 35px !important
.search
	background transparent !important
	border 0 !important
	padding 10px 0 3px 0px !important
	margin 0 0 0 0px !important
	height 25px !important
	color white !important
	font-family 'Muli', sans-serif
	font-size 1.2em !important
	box-shadow none !important
	font-weight 400
	text-shadow 0 -1px 0 rojo2
.searchList
	position relative
	float left
	height 0px
	background white
	margin-top -18px
	width 100%
	opacity .9
	box-shadow 0px 1px 2px #4D0910 !important
.category
	padding 0
	margin 0
	float left
.category>li
	padding 10px 5px 0px 5px
	float left
	width 80px 
	height: 80px
	background transparent
	list-style none
	display none
.category li img
	border-radius 6px
	margin0 5px 0px 5px !important
	float left
.category li label
	float left
	width 80px
	text-align center
.category a
	color #999
	float left
.category a:hover
	color #333
form 
	margin 0 !important
	float left
.search::-webkit-input-placeholder 
	color white
.search:-moz-placeholder 
	color white
.search::-moz-placeholder 
	color white
.search:-ms-input-placeholder 
	color white 
.searchIcon
	float left
	color rojo1
	margin 10px 5px 0px -15px
	padding 3px  0px 0 3px 
	width 28px
	height 25px
	text-align left
	text-shadow 0 1px 0 rojo3
	background transparent url("http://know-owl.com/img/srluis/search_bg.png") no-repeat !important
.settings
	padding 0
	float left
	color rojo2
	padding 5px 0px 0 5px
	text-align center
	text-shadow 0 -1px 0 rojo3
	font-size 1.3em
.dropdown-toggle
	outline 0 !important
	background transparent !important
.dropdown-menu
	margin-left 12px
.carousel
	margin-top -20px


