terracota = #D34836
terracotaClaro = #F0D7BA

.brand
	background  terracota url("http://know-owl.com/img/srluis/isologo_small.jpg") no-repeat
	width 135px
	height 37px
	padding 0 !important
	margin 10px 0 5px 10px
.navbar-inner
	background terracota !important
	border 0 !important
.search
	background transparent !important
	border 0 !important
	padding 10px 0 0 5px !important
	margin 7px 0 0 30px !important
	height 27px !important
	color terracotaClaro !important
	font-family sans-serif
	font-size 1.2em !important
	box-shadow none !important
form
	margin 0 !important
	float:left
.search::-webkit-input-placeholder 
	color terracotaClaro
.search:-moz-placeholder 
	color terracotaClaro
.search::-moz-placeholder 
	color terracotaClaro
.search:-ms-input-placeholder 
	color terracotaClaro 

